<header>
  <nav>
    <ul>
      <li routerLink="" >
        <h1>Linker</h1>
      </li>
      @if(isLogged()) {
      <li class="sectionbar" [class.active]="isMenuOpen">
        <a class="message-switch" (click)="sidebarService.Switch(); closeMenu()">Mensajes</a>
        @if (getUserType()) {
        <a routerLink="empresa" (click)="closeMenu()">Perfil</a>
        } @else {
        <a routerLink="postulante" (click)="closeMenu()">Perfil</a>
        }

        <a routerLink="match" (click)="closeMenu()">Match</a>
        <a class="login-button-responsive" (click)="onLogout()">Logout</a>
      </li>
      <li>
        <button class="login-button" (click)="onLogout()">Logout</button>
      </li>
      } @else {
      <li class="section-bar" [class.active]="isMenuOpen">
        <a href="#home" (click)="closeMenu()">Inicio</a>
        <a href="#features" (click)="closeMenu()">Nosotros</a>
        <a href="#cta" (click)="closeMenu()">Comenzar</a>
        
        <a class="login-button-responsive" routerLink="login" (click)="closeMenu()"
          >Login</a
        >
      </li>
      <li>
        <button class="login-button" routerLink="login" (click)="closeMenu()">Login</button>
      </li>
      }
      <li class="menu-icon" (click)="toggleMenu()">
        <i class="fa-solid fa-bars hamburguer-icon"></i>
      </li>
    </ul>
  </nav>
</header>
