footer {
  background-color: #ffffff1e;
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.1);
}

footer div {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

footer div div {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  footer {
    height: 15rem;
  }
}
