
.swal-custom {
    background: rgba(0, 0, 0, 0.733);
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    backdrop-filter: blur(10px);
  }

.swal-title {
  font-size: 1.2rem;
  font-weight: 800 ;
}

.swal2-timer-progress-bar {
  background: linear-gradient(90deg, var(--blue), var(--soft-blue)) !important;
  height: 5px ;
  border-radius: 6pxt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #ffffff;
}

/* Scrollbar personalizado (opcional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
