@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Syne/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./Quicksand,Raleway,Rubik,Syne,Ubuntu/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}