<section>
  <div class="perfil-container">
    @if (activeTabEmpresa === 'perfil') {
      <div class="container">
        <div class="btn-change">
          <button (click)="setActiveTabEmpresa('editar_perfil')" class="edit-btn">
            Editar Perfil <i class="fa-solid fa-pen-to-square" style="color: #ffffff"></i>
          </button>
        </div>

        <div class="perfil-header">
          <img src="assets/img/match-user-icon.webp" class="foto" alt="Foto usuario"/>
          <span class="nombre"> {{ datosEmpresa?.name_empresa }}</span>
        </div>

        <p class="company-type"><i class="fa-regular fa-building"></i><span>{{datosEmpresa?.sector}}</span></p>

        <div class="contact-info">
          <div class="contact-item">
            <i class="fa-solid fa-map-pin" style="color: #a30212"></i>{{datosEmpresa?.ubicacion}}</div>
          <div class="contact-item">
            <i class="fa-solid fa-user-group" style="color: #470bf8"></i>50-300 empleados
          </div>
        </div>

        <p class="description">
          {{datosEmpresa?.descripcion}}
        </p>
      </div>
    }

    @if (activeTabEmpresa === 'editar_perfil') {
      <div class="container">
        <div class="btn-change">
          <button (click)="setActiveTabEmpresa('perfil')" class="edit-btn">
            Perfil <i class="fa-regular fa-circle-user" style="color: #ffffff"></i>
          </button>
        </div>

        <h2>Edita tu perfil</h2>

        <form [formGroup]="perfilEmpresa">
          <div class="form-group">
            <label for="companyName">Nombre de la Empresa</label>
            <input type="text" formControlName="name_empresa" />
          </div>

          <div class="form-group">
            <label for="companyType">Industria</label>
            <input type="text" formControlName="sector"/>
          </div>

          <div class="form-group">
            <label for="location">Ubicación</label>
            <input type="text" formControlName="ubicacion" />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" formControlName="descripcion" />
          </div>

          <div class="form-actions">
            <button type="button" class="btn-cancel" (click)="setActiveTabEmpresa('perfil')">
              Cancelar
            </button>
            <button type="submit" class="btn-save" (click)="updateEmpresa()">
              Guardar <i class="fa-regular fa-floppy-disk"></i>
            </button>
          </div>
        </form>
      </div>
    }

    <div class="divider">
      <div class="btn-group">
        <button
          (click)="setActiveTab('vacantes')"
          class="divider-btn"
          [class.active]="activeTab === 'vacantes'"
        >
          Vacantes
          <i class="fa-solid fa-book-open"></i>
        </button>
        <button
          (click)="setActiveTab('certificados')"
          class="divider-btn"
          [class.active]="activeTab === 'certificados'"
        >
          Certificados
          <i class="fa-solid fa-award"></i>
        </button>
        <button
          (click)="setActiveTab('estadisticas')"
          class="divider-btn"
          [class.active]="activeTab === 'estadisticas'"
        >
          Estadisticas
          <i class="fa-solid fa-chart-simple"></i>
        </button>
      </div>

      @if (activeTab === 'vacantes') {
        <app-perfil-vacantes></app-perfil-vacantes>
      } @else if (activeTab === 'certificados') {
        <app-perfil-empresa-certificados></app-perfil-empresa-certificados>
      } @else if (activeTab === 'estadisticas') {
        <p>Estadísticas de la empresa</p>
      }
    </div>
  </div>
</section>
