section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #c4c4c421;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 20%;
  gap: 2.5rem;
}

.btn-change {
  text-align: right;
}

.perfil-container {
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 1.8rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 2;
  height: auto;
}

.perfil-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.nombre {
  font-size: 1.4rem;
  font-weight: bold;
}

.edit-btn {
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  background: linear-gradient(145deg, #6366f1, #ec4899);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;;
}

.edit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(132, 175, 251, 0.4);
}

.company-type {
  color: #6b7280;
  font-size: 14px;
  margin-top: 4px;
}

.contact-info {
  display: flex;
  gap: 16px;
  font-size: 13px;
  color: #6b7280;
  margin: 12px 0;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.description {
  color: #374151;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.section{
  margin-bottom: 2%;
}

.section-title {
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #f3f4f6;
  color: #374151;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid   #6366f1;
  transition: all 0.2s;
}

.tag:hover {
  background:  #6366f1;
  color: #fff;
}

.divider {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  flex-direction: column;
}

.divider-btn {
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
  text-transform: uppercase;
  gap: 1rem;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: transparent;
}

.divider-btn:hover {
  color: #ec4899;
}

.divider-btn.active {
  color:  #6366f1;
  text-decoration: underline;
  background-color: #acaaaa21;
}

@media (max-width: 1200px) {
  section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .columna-izquierda {
    max-width: 100%;
    width: 100%;
  }

  .columna-derecha {
    max-width: 100%;
    width: 100%;
  }

  .perfil-container {
    position: relative;
    top: 0;
    width: 100%;
  }

  app-perfil-vacantes,
  app-perfil-empresa-certificados {
    width: 100%;
  }

  .perfil-header {
    flex-direction: row;
    text-align: left;
  }
}
